<h2>about me</h2>

<img src="/images/benson.png" alt="Me" style="display:inline;margin:0px 0px 0px 1px" />
<p>
Loves programming, music and appreciates what God has given us.
</p>

<p>
I'm a software developer and you can visit my programming blog <a href="http://pugnusferreus.github.io/">here</a>. 
During the weekends, or when I'm not working or spending time with the missus, I enjoy playing music on my bass.
<a href="https://soundcloud.com/benson-cs-lim">Here</a> are some of me and my band's original composition over the years.
</p>

<p>
Sometimes, I enjoy going out for a walk and enjoy the life. <a href="http://www.flickr.com/photos/95990368@N08/">Here</a> 
are some of the photos that I've taken through out the past couple of years.
</p>
